.testimonial{
    text-align: center;
    padding: 85px 50px 45px 70px;
    margin: 70px 15px 35px;
    background: #f9f9f9;
    box-shadow: 8px 4px 0 0 #013744;
    position: relative;
}
.testimonial .pic{
    width: 120px;
    height: 120px;
    border: 5px solid #013744;
    margin: 0 auto;
    position: absolute;
    top: -60px;
    left: 0;
    right: 0;
}
.testimonial .pic img{
    width: 100%;
    height: auto;
}
.testimonial .description{
    font-size: 15px;
    color: #757575;
    line-height: 27px;
    margin-bottom: 20px;
    position: relative;
}
.testimonial .description:before{
    content: "\f10d";
    font-family: "FontAwesome";
    font-size: 32px;
    color: #013744;
    position: absolute;
    top: -15px;
    left: -35px;
}
.testimonial .testimonial-profile{
    position: relative;
    margin: 20px 0 10px 0;
}
.testimonial .testimonial-profile:after{
    content: "";
    width: 50px;
    height: 2px;
    background: #013744;
    margin: 0 auto;
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
}
.testimonial .title{
    display: inline-block;
    font-size: 18px;
    color: #013744;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0;
}
.testimonial .post{
    display: inline-block;
    font-size: 15px;
    color: #757575;
    text-transform: capitalize;
}
.owl-theme .owl-controls{
    margin-top: 10px;
}
.owl-theme .owl-controls .owl-page span{
    background:#013744;
    opacity: 1;
    transition: all 0.4s ease 0s;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
    background: #013744;
}
.owl-theme .owl-controls .owl-page.active span{
    width: 22px;
    height: 12px;
}





.demo{ background: #034748; }
.testimonial3{
    margin: 50px 30px 30px 30px;
    text-align: center;
    position: relative;
}
.testimonial3 .description{
    padding: 30px;
    margin-bottom: 80px;
    border-left: 1px solid #fff;
    font-size: 15px;
    color: #fff;
    line-height: 33px;
    position: relative;
}
.testimonial3 .description:before,
.testimonial3 .description:after{
    content: "";
    width: 20%;
    height: 1px;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
}
.testimonial3 .description:after{
    top: auto;
    bottom: 0;
}
.testimonial3 .title{
    display: block;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 0 15px 0;
    position: relative;
}
.testimonial3:before,
.testimonial3 .title:before{
    content: "";
    width: 1px;
    height: 50px;
    background: #fff;
    margin: 0 auto;
    position: absolute;
    top: -50px;
    left: 0;
    right: 0;
}
.testimonial3 .title:before{ top: -80px; }
.testimonial3 .pic{
    display: inline-block;
    width: 100px;
    height: 100px;
}
.testimonial3 .pic img{
    width: 100%;
    height: auto;
}
.owl-theme .owl-controls{ margin-top: 0; }
.owl-theme .owl-controls .owl-page span{
    width: 10px;
    height: 10px;
    border-radius: 0;
    background: #000;
    outline: 2px solid #000;
    outline-offset: 2px;
    margin-right: 8px;
    opacity: 0.7;
    transition: all 0.3s ease 0s;
}
.owl-theme .owl-controls .owl-page.active span{
    background: #fff;
    outline: 2px solid #fff;
}



.testimonial3{
    text-align: center;
    padding: 85px 50px 45px 70px;
    margin: 70px 15px 35px;
    background: #f9f9f9;
    box-shadow: 8px 4px 0 0 #013744;
    position: relative;

}
.owl-item{
     
        width: 600px;
        height: auto;
    
}
.testimonial3 .pic{
    width: 120px;
    height: 120px;
    border: 5px solid #013744;
    margin: 0 auto;
    position: absolute;
    top: -60px;
    left: 0;
    right: 0;
}
.testimonial3 .pic img{
    width: 100%;
    height: auto;
}
.testimonial3 .description{
    font-size: 15px;
    color: #757575;
    line-height: 27px;
    margin-bottom: 20px;
    position: relative;
}
.testimonial3 .description:before{
    content: "\f10d";
    font-family: "FontAwesome";
    font-size: 32px;
    color: #013744;
    position: absolute;
    top: -15px;
    left: -35px;
}
.testimonial3 .testimonial3-profile{
    position: relative;
    margin: 20px 0 10px 0;
}
.testimonial3 .testimonial3-profile:after{
    content: "";
    width: 50px;
    height: 2px;
    background: #013744;
    margin: 0 auto;
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
}
.testimonial3 .title{
    display: inline-block;
    font-size: 18px;
    color: #013744;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0;
}
.testimonial3 .post{
    display: inline-block;
    font-size: 15px;
    color: #757575;
    text-transform: capitalize;
}
.owl-theme .owl-controls{
    margin-top: 10px;
}
.owl-
.owl-theme .owl-controls .owl-page span{
    background: #5e5f5f;
    opacity: 1;
    transition: all 0.4s ease 0s;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
    background: #013744;
}
.owl-theme .owl-controls .owl-page.active span{
    width: 22px;
    height: 12px;
}

